<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/gyw.jpg">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}

            <h1>This is the about page.</h1>
            <h2>Something to see here</h2>
            <img class="portrait" src="/img/gyw.jpg">
            <h4>Created by {{name}}</h4>
        </div>       

        {{>footer}}
    </body>
</html>